<h1 class="center">Products in <%= @category.name %></h1>

<div class="container">
  <% @products.each_slice(4) do |product_array| %>
  <div class="row">
    <% product_array.each do |product| %>
    <div class="card small col l3 s8 m4 height-test">
      <div class="card-image">
        <%= image_tag("#{product.image_url}") %>
        <span class="card-title"><%= product.product_name %></span>
      </div>
      <div class="card-content">
        <p><%= product.product_description %></p>
      </div>
      <div class="card-action">
        <%= link_to "Product Page", product_path(product) %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
