<div class="container center">

  <h2><%= @product.product_name %></h2>

  <%=image_tag("#{@product.image_url}") %>

  <p>
    <%= @product.product_description %>
  </p>
  <p>
    $<%= @product.price %>
  </p>
  <p>
    <strong>In Stock:</strong> <%= @product.quantity %>
  </p>

  <p><strong> <%= link_to 'Back to Catalog', products_path %></strong></p>

</div>
